//
// CSS Base
// --------------------------------------------------

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
}

body {
	font: #{$baseFontSize}/#{$baseLineHeight} $mainFont;
	color: $baseFontColor;
	width: 100%;
	height: 100%;
}

a {
	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}

	&:active {
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}

section > section,
section > div {
	width: 100%!important;
	height: 100%;
}
