//
// FONTS
// --------------------------------------------------

@font-face {
    font-family: 'anodyneregular';
    src: url('../fonts/anodyne-webfont.eot');
    src: url('../fonts/anodyne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anodyne-webfont.woff2') format('woff2'),
         url('../fonts/anodyne-webfont.woff') format('woff'),
         url('../fonts/anodyne-webfont.ttf') format('truetype'),
         url('../fonts/anodyne-webfont.svg#anodyneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

//Font Awesome
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css);
