//
//  General Styles
// --------------------------------------------------

#main-wrapper {
    @extend .container-fluid;
    padding-left: 0;
    padding-right: 0;
}

.content-wrapper {
    @include make-row();
    max-width: 990px;
    margin: 0 auto;
}

#main-wrapper {
    width: 100%;
    height: 100%;
}

#content-container {
    width: 100%;
    height: 100%;
    position: absolute;

    & > section {
        width: 100%;
        height: 100%;
        min-height: 850px;
        background-size: cover;
        position: relative;
    }
}
