//
// Mixins & Helpers
// --------------------------------------------------

//Make Columns
@mixin make-column($lg, $md, $sm, $xs:12) {
   @include make-xs-column($xs);
   @include make-sm-column($sm);
   @include make-md-column($md);
   @include make-lg-column($lg);
}

//Make Responsive Videos
.responsive-iframe {
    position: relative;
    padding-top: 8%;
    padding-bottom: 56.25%;
    height: 0;
    margin: $vSpace * 2 0 $vSpace * 3;

    iframe {
        max-width: 800px;
        max-height: 500px;
        position: absolute;
        top: 0;
        left:  0;
        width: 100%;
        height: 100%;
    }
}

// Unstyled lists
%reset-ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

// Clearfix
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

// Responsive Images
%img-responsive {
	max-width: 100%;
	height: auto;
    width: 100%;
	width: 100% \9;
}

// Image Replacement
%ir {
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

// Make Floats
%fl {
	float: left;
}

%fr {
	float: right;
}
