//
// Variables
// --------------------------------------------------

// Site Colors
$color1: #fff;
$color2: #da1225;
$color3: #000;
$color4: #2093f4;
$color5: #ed5a55;
$color6: #58deff;
$color7: #ffe850;

// Fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$thirdaryFont: 'anodyneregular', 'Anodyne', sans-serif;

$baseFontSize: 15px;
$baseFontColor: $color3;
$baseLineHeight: 20px;


//Vertical Spacing
$vSpace: 15px;
