//
//  Components
// --------------------------------------------------


//  Vertical Aligner
// --------------------------------
.valigner {
    @extend .content-wrapper;
    @extend .row;
    padding-top: 40px;
    display: table;
    width: 100%;
    height: 100%;

    .valigner-content {
        @include make-column(12,12,12);
        float: none!important;
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        position: relative;
    }
}


//  Vertical Buttons
// --------------------------------
.vertical-buttons {
    @extend %reset-ul;
    text-align: center;
    li {
        margin: 5% 0;
    }
    a {
        background-color: transparent;
        font: 47px $thirdaryFont;
        color: $color5;
        display: inline-block;
        padding: 10px 15px 6px;
        border: 5px solid $color5;
        transition: background-color .3s, color .3s;
        text-decoration: none;

        &:hover {
            background-color: $color5;
            color: $color1;
        }
    }
}


//  Vertical Tabs
// --------------------------------
.vertical-tabset {
    @include make-column(3.5,3.5,4);
    padding-left: 0;
    @extend %reset-ul;

    li {
        margin: 7% 0;
        display: table;

        &.active a {
            background: $color1;
            color: $color2;
        }
    }
    a {
        background: $color2;
        width: 240px;
        height: 140px;
        padding-top: 12px;
        font: 32px $thirdaryFont;
        line-height: 30px;
        color: $color1;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
        transition: background .4s;

        &:hover {
            background: darken($color2, 15%);
        }
    }
}

.vertical-tabset-content {
    @include make-column(7.5,7.5,8);
    background-color: darken($color1, 4.5%);
    padding: 25px 15px 25px 40px;
    height: 645px;
    color: $color3;
    float: left;
    margin-top: 2.5%;
    display: none;

    &:after {
        content: "";
        background: url(../images/vertical-tabset-arrow.png);
        width: 26px;
        height: 36px;
        position: absolute;
        top: -1px;
        left: -26px;
    }
}


//  Documents Grid
// --------------------------------
.documents-grid {
    @include make-row();
    @extend %reset-ul;
    font: 0/0 a;
    margin-top: $vSpace*2;

    li {
        @include make-column(3,3,3);
        float: none!important;
        display: inline-block;
        vertical-align: top;
        margin-bottom: $vSpace*1.5;

        a {
            font: #{$baseFontSize}/#{$baseLineHeight} $mainFont;
            text-align: center;
            color: $color3;
            text-decoration: none;

            &:hover span {
                text-decoration: underline;
            }
        }

        h3 {
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 0;
        }

        span {
            text-align: center;
            display: block;
            font-size: 12px;
            color: lighten($color3, 15%);
        }
    }
}

.icon-pdf {
    background: url(../images/icon-pdf.png) no-repeat center top;
    width: 72px;
    height: 60px;
    display: block;
    margin: 0 auto;
}


//  Documents Container
// --------------------------------
.documents-container {
    .header {
        background-color: $color2;
        color: $color1;
        padding: 40px 40px 30px;

        h2 {
            width: 150px;
            font: 300 33px/28px $thirdaryFont;
            letter-spacing: 2px;
            text-align: center;
            margin: 0;
        }
    }
    .content {
        background-color: darken($color1, 4.5%);
        padding: 50px 0 0;
    }
    .documents-grid {
        margin-left: 40px;
        margin-right: 40px;

        li {
            padding-left: 35px;
            padding-right: 35px;

            a {
                text-align: left;
            }

            span {
                margin-bottom: $vSpace*2;
            }

            h3 {
                font-size: 17px;
                margin-top: 0;
                text-align: center;
                margin-bottom: $vSpace*1.5;
            }
        }
    }
}


//  Horizontal Buttons
// --------------------------------
.horizontal-buttons {
    @extend %reset-ul;
    text-align: center;

    &>li {
        display: inline-block;
        margin: 0 1%;
        position: relative;
    }
        li>a {
            background-color: $color7;
            font: 30px $thirdaryFont;
            letter-spacing: 4px;
            color: $color3;
            display: inline-block;
            margin-bottom: $vSpace*1.5;
            padding: 10px 20px 7px;
            text-decoration: none;
            transition: background-color .5s, color .5s;

            &:hover {
                background-color: $color3;
                color: $color7;
            }
        }
}


//  Tabset
// --------------------------------
.tabset {
    @extend %reset-ul;
    text-align: center;
    margin: 20px 0 10px;

    li {
        font: 31px $thirdaryFont;
        color: darken($color6, 43%);
        display: inline-block;
        margin: 0 .2%;

        &.active {
            color: $color1;
        }

        &:not(:last-child):after {
            content: "-";
            font: 30px $thirdaryFont;
            color: darken($color6, 43%);
            position: relative;
            left: 2.5%;
        }

        a {
            color: inherit;
            text-decoration: none;
            transition: color .4s;

            &:hover {
                color: $color1;
            }
        }
    }
}

//  Gallery Grid
// --------------------------------
.gallery-grid {
    ul {
        @extend %reset-ul;
        text-align: center;
        font: 0/0 a;

        li {
            @extend .col-sm-4;
            float: none!important;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 20px;
        }

        img {
            @extend %img-responsive;
        }

        time {
            background-color: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            position: absolute;
            padding-top: 35%;
            font: 72px $thirdaryFont;
            color: $color1;
            text-align: center;
        }

        a {
            display: block;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 0 solid transparent;
                transition: border .4s;
            }

            &:hover:after {
                border: 8px solid rgba(255,255,255,.8);
            }
        }
    }

    &.children  {
        height: 615px;
        overflow: scroll;
        display: none;

        ul li {
            @extend .col-sm-3;
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 10px;
        }
    }
}


//  Malihu Scroller
// --------------------------------
.scroller-content {
    height: 99%;
    overflow: scroll;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #C9C9C9;
    width: 6px;
    border-radius: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #E4E4E4;
}


// BxSlider
// --------------------------------
.bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
}


.bx-wrapper,
.bx-viewport,
.bxslider,
.bxslider > div,
.bxslider > div > section {
    width: 100%;
    height: 100%;
}


.slide-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;

    i {
        font-size: 50px;
    }
}
    .slide-arrow-prev {
        left: 1%;
    }
    .slide-arrow-next {
        right: 1%;
    }


//  Modal
// --------------------------------
.stc-modal {
    background-color: darken($color1, 4.5%);
    position: absolute;
    text-align: left;
    padding: 20px;
    display: none;

    a {
        color: inherit;
    }

    &-close {
        font-size: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 15;

        &:hover {
            color: lighten($color3, 40%);
        }
    }

    .download-document {
        text-align: center;

        span {
            display: block;
            margin: 6px auto 0;
        }
    }
}



