//
//  Main Footer
// --------------------------------------------------

#main-footer {
    background-color: $color3;
    color: $color1;
    padding: 35px 0;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;

    a {
        color: $color1;
    }
}
    .contact-details {
        margin-bottom: $vSpace * 2;
    }

    .socials {
        margin-bottom: 10px;

        a {
            background-color: $color1;
            width: 30px;
            height: 30px;
            display: inline-block;
            margin: 0 2px;
            border-radius: 50%;

            i {
                font-size: 18px;
                color: $color3;
                padding: 7px;
            }
        }
    }
