//
//  Main Header
// --------------------------------------------------

#main-header {
    width: 100%;
    background-color: $color3;
    padding: 10px 0;
    position: fixed;
    z-index: 100;

    .content-wrapper {
        width: 100%;
        display: table;
    }
}
    #main-logo {
        @extend .col-md-4;
        @extend .col-xs-12;
        float: none!important;
        display: table-cell;
        vertical-align: middle;

        a {
            @extend %ir;
            display: block;
            background: url(../images/main-logo.png) no-repeat;
            width: 265px;
            height: 69px;
            position: relative;
            z-index: 100;
        }
    }

    #main-navigation {
        @extend .col-md-8;
        @extend .col-xs-12;
        float: none!important;
        display: table-cell;
        vertical-align: middle;
        padding-right: 0;

        ul {
            @extend %reset-ul;
            font: bold 12px $secondaryFont;
            float: right;

            li {
                display: inline-block;
                margin: 0 6px;

                &.active a {
                    color: $color7;
                }
            }

            a {
                display: block;
                color: $color1;
                text-transform: uppercase;
                text-decoration: none;
                transition: color .3s;

                &:hover {
                    color: $color7;
                }
            }
        }
    }

    #navigation-btn {
        background: none;
        border: none;
        color: $color1;
        font-size: 25px;
        display: none;
        outline: none;
    }
