//
//  Main Layout
// --------------------------------------------------


//  Home
// --------------------------------
#home {
    background: url(../images/bg-01.jpg) no-repeat center center;

    .content {
        text-align: right;
    }
        h2 {
            white-space: pre-line;
            float: right;
            margin-bottom: 5px;
            text-align: right;
            font: 98px/80px $thirdaryFont;
            color: $color4;
        }
}
    .dona-hoy {
        clear: right;
        float: right;
        font: 47px/40px $thirdaryFont;
        color: $color3;
        text-align: center;
        display: inline-block;
        position: relative;
        transition: transform .3s;

        &:hover {
            color: $color2;
            text-decoration: none;
            transform: scale(1.15);
        }

        &:focus,
        &:active {
            color: $color2;
        }

        &:before,
        &:after {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
        }

        &:before {
            background-image: url(../images/dona-lines-top.png);
            background-size: 88%;
            width: 88px;
            height: 44px;
            top: -45px;
            margin-left: -48px;
            transform: rotate(-15deg);
        }

        &:after {
            background-image: url(../images/dona-lines-bottom.png);
            background-size: 83%;
            width: 70px;
            height: 37px;
            bottom: -26px;
            margin-left: -25px;
            transform: rotate(-10deg);
        }

        span {
            transform: skewY(-15deg);
            display: block;
        }
    }

#dona-modal {
    width: 315px;
    left: 55%;
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
    border: 5px solid $color3;

    &:after {
        content: "";
        background: url(../images/vertical-tabset-arrow-border.png);
        width: 36px;
        height: 45px;
        position: absolute;
        bottom: 10px;
        right: -35px;
    }

    h5 {
        font: 27px $thirdaryFont;
        text-align: center;
    }

    .deposits,
    .alternate-payment {
        @extend %reset-ul;

        li {
            margin-bottom: 25px;
        }
    }

    .alternate-payment {
        margin-top: 20px;

        p {
            width: 35%;
        }
        p, img {
            display: inline-block;
        }
    }
}


//  Somos
// --------------------------------
#somos {
    background: url(../images/bg-02.jpg) no-repeat left top;

    //Filosofía
    header {
        @include make-column(12,12,12);
        padding-left: 42px;
        padding-right: 42px;
        margin-bottom: 50px;
        text-align: center;

        h1 {
            background-color: transparent;
            font: 47px/47px $thirdaryFont;
            color: $color2;
            display: inline-block;
            margin: 0 auto 10px;
            padding: 16px 25px 10px;
            border: 4px solid $color5;
        }
        p {
            text-align: left;
        }
    }
    .columns {
        @extend %reset-ul;

        li {
            @include make-column(4,4,4);
            padding-left: 42px;
            padding-right: 42px;

            p {
                padding: 0 10px;
            }

            h2 {
                background-color: transparent;
                font: 47px $thirdaryFont;
                color: $color2;
                width: 100%;
                height: 230px;
                margin-left: auto;
                margin-right: auto;
                display: table;
                text-align: center;
                padding: 0 15px;
                border: 4px solid $color5;

                span {
                    width: 100%;
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    .content {
        @extend .row;
        max-width: 700px;
        margin: auto;
    }

    .columns-2 {
        @extend .col-md-6;
        padding: 0 30px;
        text-align: justify;
    }

    h2 {
        font: 37px $thirdaryFont;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
    }

    h3 {
        font: 28px $thirdaryFont;
        position: relative;
    }

    .columns-3 {
        @extend .col-md-4;
        padding: 0 40px;
        text-align: justify;

        header {
            float: none;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 10px;
        }

        h3, h4 {
            font: 28px $thirdaryFont;
            position: relative;
        }

        h3 {
            margin-bottom: 0;

            &:before {
                content: "";
                width: 20%;
                position: absolute;
                bottom: -2px;
                left: 50%;
                margin-left: -10%;
                border-bottom: 3px solid $color5;
            }
        }

        h4 {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    .rounded-img {
        margin: auto;
        border-radius: 50%;
    }

}


//  Hacemos
// --------------------------------
#hacemos {
    background: url(../images/bg-03.jpg) no-repeat center center;

    .valigner {
        padding-top: 0px;
    }
        .content {
            max-width: 420px;
            text-align: right;
            float: right;
            margin-top: -65px;
        }
            h2 {
                margin-bottom: 0;
                text-align: right;
                font: 70px/73px $thirdaryFont;
                color: $color1;
            }
            p {
                color: $color3;
                margin-top: 0;
            }

}


//  Aliados
// --------------------------------
#aliados {
    background: url(../images/bg-04.jpg) no-repeat left top;
}
    #aliados-corporativos {
        &:after {
            top: -1px;
        }
    }
    #aliados-estrategicos {
        &:after {
            top: 220px;
        }
    }
    #aliados-cooperacion-internacional {
        &:after {
            top: 390px;
        }
    }
    #aliados-voceros {
        &:after {
            top: 557px;
        }
    }


//  Publicaciones
// --------------------------------
#publicaciones {
    background: url(../images/bg-05.jpg) no-repeat left top;

    .vertical-tabset-content {
        padding: 0;
    }

    .documents-grid:after {
        display: none;
    }

    .horizontal-buttons a {
        max-width: 250px;
        display: table;
        line-height: 32px;
        padding: 40px 35px 30px;

        span {
            display: table-cell;
            vertical-align: top;
        }
    }
}
    .publications-list {
        article {
            position: relative;
            margin-bottom: $vSpace*1.1;

            h2 {
                width: 100%;
                background: rgba(0,0,0,.6);
                font: 21px $thirdaryFont;
                color: $color1;
                margin: 0;
                padding: 15px 10px 10px;
                position: absolute;
                bottom: 0;
            }
        }

        img {
            @extend %img-responsive;
        }
    }

    .publications-view {
        @extend .row;
    }

    #publication-modal {
        max-width: 960px;
        height: 690px;
        top: 54%;
        left: 50%;
        margin-top: -345px;
        margin-left: -480px;
        z-index: 10;
    }

    .publication {
        @extend .col-sm-9;
        height: 650px;
        border-right: 2px solid $color2;

        img {
            @extend %img-responsive;
            margin-bottom: 15px;
        }

        time {
            display: block;
            margin-bottom: 3px;
        }

        h1 {
            font: 46px $thirdaryFont;
            margin: 0;

            a {
                color: $color3;
                text-decoration: none;
            }
        }

        .content {
            p:first-child {
                margin-top: 0;
            }
        }
    }

    .more-publications {
        @extend .col-sm-3;
        height: 600px;

        h4 {
            font: 31px $thirdaryFont;
            color: $color2;
        }
        ul {
            @extend %reset-ul;
        }

        li {
            margin-bottom: $vSpace;
        }
    }


//  Galería
// --------------------------------
#galeria {
    background: url(../images/bg-06.jpg) no-repeat left top;
}
    .galleries .gallery-grid {
        display: none;

        &.open {
            display: block;
        }
    }


//  Únete
// --------------------------------
#unete {
    background: url(../images/bg-07.jpg) no-repeat left top;

    h1 {
        background-color: $color3;
        font: 55px/50px $thirdaryFont;
        color: $color1;
        text-align: center;
        width: 235px;
        height: 235px;
        padding: 73px 40px 0 40px;
        margin: 0 auto 50px;
        border-radius: 50%;
        position: relative;

        span {
            transform: skewY(-5deg);
            display: block;

            &:before,
            &:after {
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                left: 50%;
            }

            &:before {
                background-image: url(../images/unete-lines-top.png);
                width: 88px;
                height: 44px;
                top: -52px;
                margin-left: -44px;
            }

            &:after {
                background-image: url(../images/unete-lines-bottom.png);
                width: 70px;
                height: 37px;
                bottom: -45px;
                margin-left: -35px;
            }
        }
    }

    .documents-grid {
        li {
            margin-bottom: $vSpace*3;
        }
            h3 {
                font: 25px $thirdaryFont;
                margin-bottom: 10px;
            }
            span {
                font-size: 16px;
                color: lighten($color3, 10%);
                margin-bottom: $vSpace;
            }
    }
}

#volutarios-modal {
    width: 230px;
    right: -270px;
    top: -60%;

    &:before {
        content: "";
        background: url(../images/vertical-tabset-arrow.png);
        width: 26px;
        height: 36px;
        position: absolute;
        top: 55px;
        left: -26px;
    }
}
