//
//  Media Queries
// --------------------------------------------------

// ~1170px
@media (max-width: $screen-lg) {

}

// ~992px
@media (max-width: $screen-md) {
    #main-header .content-wrapper {
        display: block;
    }
        #main-logo {
            width: 50%;
            float: left!important;
            a {
                background-size: 210px 55px;
                width: 210px;
                height: 55px;
            }
        }

        #main-navigation {
            width: 100%;
            position: absolute;

            ul {
                display: none;
                background-color: $color3;
                width: 100%;
                font-size: 15px;
                text-align: center;
                position: absolute;
                top: 65px;
                left: 0;
                border-top: 1px solid $color1;

                li {
                    display: block;
                    margin: 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid darken($color1, 50%);
                    }
                }

                a {
                    padding: 20px 0;
                    text-decoration: none;

                    &:hover {
                        background-color: lighten($color3, 20%);
                    }
                }
            }
        }
            #navigation-btn {
                font-size: 30px;
                float: right;
                margin-top: 10px;
                display: block;
            }

    #home {
        background: #87E6CF;
        background-image: none;

        .content {
            text-align: center;
        }
            h2 {
                float: none;
                margin-top: 0;
                margin-bottom: 15px;
                text-align: center;
                font: 98px/100px $thirdaryFont;
            }
    }
        .dona-hoy {
            float: none;
        }

    #hacemos {
        background: #BCC0AA;
        background-image: none;

    .valigner {
        padding-top: 0px;
    }
        .content {
            max-width: 100%;
            text-align: center;
            float: none;
            margin-top: initial;
        }
            h2 {
                margin-bottom: 0;
                text-align: center;
                font: 70px/73px $thirdaryFont;
            }

}
}

// ~768px
@media (max-width: $screen-sm) {

}

// ~480px
@media (max-width: $screen-xs) {
    body,
    html,
    section section,
    #main-wrapper,
    #content-container,
    #content-container section {
        height: auto;
    }

    #main-header {
        padding: 7px 0;
    }
        #main-logo {
            a {
                background-size: 180px 47px;
                width: 180px;
                height: 47px;
            }
        }

        #main-navigation ul {
            top: 54px;
        }

        #navigation-btn {
            float: right;
            margin-top: 6px;
        }
}



